<div class="card mt-3 me-3 ms-3">
  <div class="card-header">Clients</div>
  <div class="card-body">


    @if (errorMessage){
      <div class="alert alert-danger mt-3">
        {{errorMessage|json}}
      </div>
    }

    <form [formGroup]="formGroupClients" (ngSubmit)="handeleSearchClients()">
      <div class="input-group" >
        <label class="input-group-text" for="search">Keyword</label>
        <input type="text" formControlName="keyword" class="form-control" id="search"  placeholder="Search ">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>

    @if (clients && clients.length>0){
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>


        <tbody>
          @for (customer of clients; track $index ){
            <tr>
              <th scope="row">{{customer.id}}</th>
              <td>{{ customer.name }}</td>
              <td>{{customer.email}}</td>
              <td><button  class="btn btn-danger" (click)="handeledelete(customer.id)" >Delete</button></td>



            </tr>
          }
        </tbody>





      </table>


    }
  </div>

</div>

